{% extends "base.html" %} {% load static %} {% block content %}

<div class="container mt-4">
  <div class="row justify-content-between">
    <div class="col-md-3">
      <h4 class="word mb-4" id="word"></h4>
    </div>
    <div class="col-md-2">
      <a type="submit" href="{% url 'logout' %}" class="btn btn-primary mt-2 logout">Cerrar sesión</a>
    </div>
  </div>
  <br>

  <table id="datatable" class=""></table>
</div>
<script src="{% static 'js/datatable.js' %}"></script>
<script src="{% static 'js/animation.js' %}"></script>
{% endblock content %}
